body{
    background-color: rgb(4, 85, 4);
}
.todo_container{
    background-color: white;
    border-radius: 20px;
    width: 50%;
    margin:40px auto;
    padding: 20px 40px;
}
.completed-todo{
    background-color: rgb(212, 209, 209);
    text-decoration: line-through;
}
.titleTodo{
    cursor: pointer;
    padding: 10px;
}
.sub__title{
    font-style: italic;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    width: 200px;
    outline: none;
}
button{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}
.red{
    background-color: red;
}
.blue{
    background-color: rgb(45, 122, 238);
}
.green{
    background-color: green;
}
#container{
    padding: 40px;
}